version: '3.8'

services:
  user-service:
    build: ./user-service
    ports:
      - "8081:8081"
    environment:
      - SERVER_PORT=8081
    networks:
      - microservices-net

  product-service:
    build: ./product-service
    ports:
      - "8082:8082"
    environment:
      - SERVER_PORT=8082
    networks:
      - microservices-net


  frontend:
    build: ./frontend
    ports: 
      - "3000:80"
    depends_on:
      - user-service
      - product-service
    networks:
      - microservices-net
    
networks:
  microservices-net:
    driver: bridge